.hacademy-cinema-seat {
    position: relative;
    display: inline-block;
    width : 1em;
    height : 1em;
    cursor: pointer;
}
.hacademy-cinema-seat-group > .hacademy-cinema-seat {
    position: absolute !important;
}
.hacademy-cinema-seat:not(.reserved):hover,
.hacademy-cinema-seat:not(.disabled):hover {
    opacity: 0.9;
}
.hacademy-cinema-seat > [type=checkbox]{
    display: none;
}
.hacademy-cinema-seat > span {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* box-shadow: 0 0 0 1px black; */
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: start;
}

.hacademy-cinema-seat > span > label {
    font-size: 0.2em;
    padding: 0.1em;
    border-radius: 0.25em;
    margin-top: 0.5em;
}